.weapon {
  width: 100%;
  margin: auto;
}

.weapon .image {
  width: 80%;
  margin: auto;
  text-align: center;
}

.weapon img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.weapon .name {
  text-align: center;

}