.weapon {
  width: 100%;
  max-height: 300px;
  margin: auto;
}

.weapon .image {
  margin: auto;
  text-align: center;
}

.weapon img {
  max-height: 300px;
  width: 100%;
}

.weapon .name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (max-width: 572px) {
  .weapon {
    max-width: 175px;
  }
}