.header {
  background-color: #1e1548;
  padding: 20px;
  color: white;
  text-align: center;
}

.header .title {
  font-size: 1.5rem;
}

.header .sub_title {
  margin-top: 1rem;
}

.header .mode {
  margin-top: 10px;
}

@media (min-width: 572px) {
  .header .title {
    font-size: 2rem;
  }

  .header .mode {
    margin-top: 20px;
  }
}