.history {
  border: 4px dotted #ff2e4c;
}

.history .border {
  border-left: 2px solid #ffffff;
  padding: 0;
}

.history thead {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.history thead th {
  padding: 10px;
}

.history body tr {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.history tbody td {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.history .tie {
  background-color: #1e1548;
}

.history .win {
  background-color: #2e99b0;
}

.history .lose {
  background-color: #ff2e4c;
}