.player {
  /* display: inline-block; */
  width: 320px;
  flex-grow: 1;
}

.player>span {
  vertical-align: middle;
}

.player .score {
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
  min-width: 60px;
  padding: 4px;
}