
.btn-play {
  border-radius: 40px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.btn-play:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

.btn-play:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
  }