.game {
  display: flex;
  min-height: 200px;
  flex-wrap: wrap;
}

.game .Player {
  flex: 1;
}

.tie {
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  background-color: #ff2e4c;
  color: #fff;
  font-weight: bold;
  display: none;
}

.show {
  display: block;
}

@media (max-width: 400px) {
  .Game {
    display: block;
  }
}